Source: metadata
Section: video
Priority: optional
Maintainer: Zhiming Wang <i@zhimingwang.org>
Build-Depends: debhelper-compat (= 12),
               cargo,
               clang,
               pkg-config,
               libavcodec-dev (>= 57),
               libavformat-dev (>= 57),
               libavutil-dev (>= 55),
               xz-utils
Standards-Version: 4.4.1
Homepage: https://github.com/zmwangx/metadata
#Vcs-Browser: https://github.com/zmwangx/metadata
#Vcs-Git: https://github.com/zmwangx/metadata.git

Package: metadata
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ffmpeg (>= 3.4)
Description: Media file metadata for human consumption
 metadata formats and displays metadata of one or more input media files.
